:root {
  --white: #ffffff;
  --black: #1d1a19;
  --dark-grey: #262626;
  --medium-grey: #8d8d8d;
  --grey: #c5c5c5;
  --light-grey: #398247;
  --dark-green: #398247;
  --acid-green: #398247;
  --pink: #ff5280;
  --light-pink: #ff8aa9;
}
